<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
	<p>Q1 Which of the following best describes the internal resources that are dedicated
	to managing and executing digital marketing with clients?</p>

	<ul>
		<li><input type="radio" ng-model="ans1" value="1" /> We are increasing our digital resources</li>
		<li><input type="radio" ng-model="ans1" value="2" /> We are maintaining the status</li>
		<li><input type="radio" ng-model="ans1" value="3" /> We are decreasing our digital resources</li>
	</li>
</div>

<ul class="pager">
  <li class="next"><a ng-click="goToQuest2()">Next &rarr;</a></li>
</ul>