<h2>Part 2: Industry & Business Overview</h2>

<div class="question-container">
	<p>Q3 Which of the following best describes most of your clients objectives for digital
ad spend?</p>

	<ul>
		<li><input type="checkbox" checklist-model="ans3" value="1" /> Brand awareness</li>
		<li><input type="checkbox" checklist-model="ans3" value="2" /> Sale</li>
		<li><input type="checkbox" checklist-model="ans3" value="3" /> E-commerce channel</li>
		<li><input type="checkbox" checklist-model="ans3" value="4" /> Engagement</li>
		<li><input type="checkbox" checklist-model="ans3" value="5" /> PR</li>
		<li><input type="checkbox" checklist-model="ans3" value="6" /> CRM</li>
		<li><input type="checkbox" checklist-model="ans3" value="7" /> Other, please specify <input type="text" ng-model="ans3other" /></li>
	</li>
</div>

<ul class="pager">
  <li class="previous"><a  ui-sref="quest2({ uid: uid_ })">&larr; Back</a></li>
  <li class="next"><a ng-click="goToQuest4()">Next &rarr;</a></li>
</ul>